@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


body {
  background-color: #3d5a80;
  font-family: 'Inconsolata', monospace;
}

.navRoot {
  background-color: red;
  flex-grow: 1;
}