/* colors 
dark blue = #293241
orange = #ee6c4d
light navy = #3d5a80
sky = #98c1d9
ice = #e0fbfc */


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


body {
  background-color: #3d5a80;
  font-family: 'Inconsolata', monospace;
}

footer{
  width: 100%;
  background-color: #293241;
}

#logo{
  height: 90%;
  margin-right: 10px;
}
#loginButton {
  color: #ee6c4d;
}

.menuIcon {
  font-size: 25px;
  color: #293241; 
}

.landingRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin: 60px;
}

#welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ee6c4d;
  font-size: 25px;
}

.introCard {
  margin-top: 20px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  color: #ee6c4d;
}
#createButton {
  color: #ee6c4d;
  font-size: 18px;
  border: 2px solid #ee6c4d;
}
#welcomeSwitch{
  background-color: #ee6c4d;
}

/*//////////////////    Dashboard    //////////////////////*/

#welcomeUser{
  margin-top: 25px;
  margin-left: 15px;
  color: #ee6c4d;
  font-size: 25px;
}

#scoreCard{
/* border: 1px solid red; */
 display: flex;
 flex-direction: column;
}
#scoreCard p{
  font-size: 115%;
}
#practiceButton {
background-color: #ee6c4d;
font-weight: bolder;
color: white;
}

#scoreNum{
  display: flex;
  justify-content: center;
  font-size: 350%;
}
.cardTitle{
  color: #293241;
  font-size: 150%;
}
#questOptCard{
  display: flex;
}
#questOptCardLeft{
  font-size: 115%;
  width: 70%;
}
#questOptCardRight{
  border: 1px solid red;
  flex: 1;
}