/* colors 
dark blue = #293241
orange = #ee6c4d
light navy = #3d5a80
sky = #98c1d9
ice = #e0fbfc */


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


body {
  background-color: #3d5a80;
  font-family: 'Inconsolata', monospace;
}

#loginButton {
  color: #ee6c4d;
}

.menuIcon {
  font-size: 25px;
  color: #293241; 
}

.landingRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin: 60px;
}

#welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ee6c4d;
  font-size: 25px;
}

.introCard {
  margin-top: 20px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  color: #ee6c4d;
}